
  <div class="patients_list">

    <div class="titlepatient"><strong>LISTA DE PACIENTES</strong></div>

    <div class="tablepatient">
    <table class="responsive-table highlight">
      <tr>
        <th>NHC</th>
        <th>Nombre</th>
        <th>Primer Apellido</th>
        <th>NIF</th>
        <th>Calle</th>
        <th>Ciudad</th>
        <th>Código Postal</th>
      </tr>
      <tr *ngFor="let pat of patientService.patients">
        <td>{{pat.nhc}}</td>
        <td>{{pat.name}}</td>
        <td>{{pat.surname}}</td>
        <td>{{pat.nif}}</td>
        <td>{{pat.street}}</td>
        <td>{{pat.city}}</td>
        <td>{{pat.postal_code}}</td>
        <td>
          <a class="action-btn" (click)="onEdit(pat)">
            <i class="material-icons">edit</i>
          </a>
          <a class="action-btn" (click)="onDelete(pat._id)">
            <i class="material-icons">delete</i>
          </a>
        </td>
      </tr>
    
      <div class="btn">
        <button mat-raised-button type="submit" class="btn_new" color="primary" routerLink="/patient-new" > <i class="fas fa-plus"></i>Añadir Paciente</button>
      </div>
    </table>

    
    

  </div>

  


