.patients_list{
  width: 100%;
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e0f7fa;
}

.titlepatient{
  padding-top: 80px;
  margin-bottom: 60px;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tablepatient{
  width: 90%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.action-btn{
  cursor: pointer;
}

.btn{
  padding-top: 20px;
  margin-left: -14px;
  padding-bottom: 18px;


.btn_new{
  width: 160px;
  height: 40px;
  align-items: center;
}
}
.fas{
  margin-right: 6px ;
}
  
