.globalHome{
    width: 100%;
    background-color: cornsilk;;

    .slider {
        width: 100%;
        height: 800px ;
        overflow: hidden;
        margin-top: 96px;
      }
      
      .slider ul {
        display: flex;
        padding: 0;
        width: 400%;
        animation: cambio 14s infinite linear;
      }
      
      .slider li {
        width: 100%;
        list-style: none;
      }
      
      .slider img {
        width: 100%;
        height: 300px;
      }
      
      @keyframes cambio {
        0% {margin-left: 0;}
        20% {margin-left: 0;}
        
        25% {margin-left: -100%;}
        45% {margin-left: -100%;}
        
        50% {margin-left: -200%;}
        70% {margin-left: -200%;}
        
        75% {margin-left: -300%;}
        100% {margin-left: -300%;}
      }
      

      #imagehosp1{
        width: 100%;
        height: 60%;
      }
      #imagehosp2{
        width: 100%;
        height: 60%;
      }
      #imagehosp3{
        width: 100%;
        height: 60%;
      }
      #imagehosp4{
        width: 100%;
        height: 60%;
      }

      .publicity{
        width: 100%;
        height: 360px;
        margin-top: -356px;
        padding-bottom: 10px;
      
        #imagecovid{
          width: 100%;
          height: 100%;
        }
      }
    }
