<div class="globalHome">
    <div class="slider">
        <ul>
          <li>
            <img id="imagehosp1" src="assets/hospi1.jpg" alt="" />
          </li>
          <li>
            <img  id="imagehosp2" src="assets/hosp2.jpg" alt="" />
          </li>
          <li>
            <img id="imagehosp3" src="assets/hospi2.png" alt="" />
          </li>
          <li>
            <img id="imagehosp4" src="assets/hosp4.jpg" alt="" />
          </li>
        </ul>
      </div>
      <div class="publicity">
        <img id="imagecovid" src="assets/covid.jpg" alt="" />
      </div>
      
      
</div>
